body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.vacancy-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
}



.vacancy-item {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.a {
    color: #007BFF;
    text-decoration: none;
}



.download-link {
    display: inline-block;
    margin: 20px 0;
    text-decoration: none;
    color: #007BFF;
}

.download-link:hover {
    text-decoration: underline;
}
